body{
	font-family: 'PT Sans',sans-serif;
	background-color: #121212;
}
#menu{
	width: 35px;
	height: 30px;
	margin: 30px 0 20px 20px;
	cursor: pointer;
}
.bar{
	height: 5px;
	width: 100%;
	background-color: #fff;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}
#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}
.nav{
	margin-top: 100px;
	transition: 0.3s ease;
	display: none;
}
.nav a {
	text-align: center;
	background: #444444;
	color: #fff;
	display: block;
	padding: 12px;
	text-decoration: none;
}
.nav a:hover {
	background: #ccc
}
.menu-bg, #menu-bar{
	top: 0;
	left: 0;
	position: absolute;
}
.menu-bg{
	z-index: 1;
	width: 0;
	height: 0;
	/*background: linear-gradient();*/
	background: #444444;
	transition: width 0.3s ease;
}
#menu-bar{
	z-index: 2;	
}
.change-bg{
	width: 220px;
	height: 100%;
}
.change .bar{
	background-color: white;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
	display: block;
}