body{
	font-family: 'PT Sans',sans-serif;
	background-color: #121212;
}
#menu{
	width: 35px;
	height: 30px;
	margin: 30px 0 20px 20px;
	cursor: pointer;
}
.bar{
	height: 5px;
	width: 100%;
	background-color: #fff;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}
#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}
.nav{
	margin-top: 100px;
	transition: 0.3s ease;
	display: none;
}
.nav a {
	text-align: center;
	background: #444444;
	color: #fff;
	display: block;
	padding: 12px;
	text-decoration: none;
}
.nav a:hover {
	background: #ccc
}
.menu-bg, #menu-bar{
	top: 0;
	left: 0;
	position: absolute;
}
.menu-bg{
	z-index: 1;
	width: 0;
	height: 0;
	/*background: linear-gradient();*/
	background: #444444;
	transition: width 0.3s ease;
}
#menu-bar{
	z-index: 2;	
}
.change-bg{
	width: 220px;
	height: 100%;
}
.change .bar{
	background-color: white;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
	display: block;
}
.banner{
	text-align: center;
	width: 100%;
}
/*

APPLICATION CSS

*/
/*Styles for body*/
body
{
  font-family: Verdana, sans-serif;
  font-size: 100%;
  background-image: url(../Pictures/background-slate.jpg) 
}

/*Styles for header*/
header
{
 margin-top: 0;
 padding: 3em 1em 2em 1em;
 text-align:center;
 opacity: 65%;
 background-image: url(../Pictures/magnify.png);
}



.Button 
{
     border: 2px solid rgb(9, 92, 247);
     color: black;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
     background-color: rgb(8, 94, 243);
     
 }

 .Next
 {
   float:right;
 }

 .Back
 {
   float:left;
 }





/*Style for images*/
img
{
  float:right;
  margin: 0 1em 1em 0;
}


/*Styles for 3 Columns on Home Page*/


.left
{
  box-sizing: border-box;
  float: left;
  text-align:center;
  width:30%;
  background-color:rgb(255, 255, 255);
  
}
.middle
{
  
  box-sizing: border-box;
  float: left;
  
  width:40%;
  background-color:rgb(255, 255, 255);
  border: 2px solid black;
  
}

.astrick
{
  color: red;
}

.Application
{
  margin-left:20%;
  margin-right: 10%
}
.right
{
  text-align:center;
  width: 30%;
  background-color:rgb(149, 169, 235);
}

.tab
{
  margin-left: 40px
}

/*Style for footer of Website*/
.footer
{
  text-align:left;
  width:100%;

}

.astrick
{
  color: red;
}



/*Styles for various font elements*/
h1
{
 font-family: "Marko One", Georgia, serif;
 font-size:3em;
 color: rgb(235, 32, 17);
}

h2
{
 font-size:1em;
 color: rgb(0, 0, 0);
}

h2 + p
{
 text-align:center;
}

hr
{
  width:90%;text-align:left;margin-left:0
}



/* Styles for various list*/
dt 
{
 color:rgb(153, 32, 32);
}

ul
{
 list-style-type: none;
 margin: 0;
 padding:0;
}

li
{
  padding-left : 1 em;
  text-indent: -1em;
}

li:before
{
  content: "✓";
  color: green;
  padding-right: 5 px;
}


/*Style for links*/
a
{
 text-decoration:none;
 font-weight:bold;
}
a:link{color:white;}
a:visited{color:white;}
a:focus{color:rgb(85, 19, 133); background-color: whitesmoke;}
a:hover{color:rgb(89, 18, 182); background-color: whitesmoke;}
a:active{color:rgb(151, 12, 12);}


/*Media Elemnts for Smaller Screens*/
@media screen and (max-width: 600px)
 {
   /*Style for header for screen of minimum 940px*/
   header
   {grid-area:banner;}

   /*Style for main for screen of minimum 940px*/
   body{grid-area:main;}

   /*Style for footer for screen of minimum 940px*/
   footer{grid-area:footer;}

   /*Style elements for columns on main page*/
   .left
   {
     width: 100%;
   }

   .middle
   {
     width: 100%;
   }

   .right
   {
     width:100%;
   }
 }
